<!DOCTYPE HTML>
<html>
<head>
<title>Singlepage</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

<link href="css/style.css" rel='stylesheet' type='text/css' />	
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script> -->
<include file="./Application/Public/head.html" />
<style type="text/css">
	.single ul li{
		font-weight: lighter;
		font-size: 15px;
		font-family: "微软雅黑"
	}
</style>
<script type="text/javascript">
function judge(){
	
	alert("请登录!")
}
</script>
</head>
<body>
<div class="header" id="ban">

		<include file="./Application/Public/nav.html" />


</div>

	<!-- technology-left -->
	<div class="technology">
	<div class="container">
		<div class="col-md-9 technology-left">
			<div class="agileinfo">

		  <h2 class="w3" style="color: #010101;font-family: miaomi;margin-top: 20px;margin-bottom: 10px;">{$travelcontent.titles}</h2>
		  <span style="margin-left: 10px">
		  <img src="__PUBLIC__/Home/images/user.png" style="width: 13px;margin-right: 5px;">{$travelcontent.uname}&nbsp;&nbsp;
		  发帖时间：{$travelcontent.creatime}
		  </span>
		  <span class="glyphicon glyphicon-eye-open"></span>{$travelcontent.hits}
		                 

			<div class="single">
			  
			    <div class="b-bottom" style="font-family: miaomi;"> 
			      <ul class="xpc">
			      	<li><div class="biaoti">结伴目的地</div>
			      	    <div class="cont">{$travelcontent.site}</div>
			      	</li>
			      	<li><div class="biaoti">结伴日期</div>
			      	    <div class="conts" style="color: #010101">{$travelcontent.pretime}至{$travelcontent.endtime}</div>
			      	</li>
			      	<li><div class="biaoti">联系方式</div>
			      	    <div class="cont">{$travelcontent.tele}</div>
			      	</li>
			      	<li class="biaoti xlast" style="width: 115px;float: left;">结伴详情
			      	</li>
			      	<li class="xlast xmt20" id="de">{$travelcontent.detail}</li>
			      	
			      	


			      </ul>
				 
				</div>
				<div class="clearfix"> </div>
			 </div>

			  <div class="boxed_mini_details clearfix" style="float: right; width: 300px; margin-top: 18px; margin-right: -130px">
			                         <span style="margin-left: -40px;">
			                           
			                           <img src="__PUBLIC__/Home/images/zh.png" style="width: 13px; margin-right: 100px" >
			                           <strong style="">赞</strong>
			                         </span>
			                         <span style="margin-left: -48px;">

                                  <if condition="$Think.session.uname eq null">
                                  <img src="__PUBLIC__/Home/images/sh.png" style="width: 13px;" onclick="judge()" >
			                           <strong style="margin-left: -8px;" onclick="judge()">收藏</strong>
                                  <else/>
			                        <if condition="$rcollect.travel_id eq null">
			                         <a href="{:U('Travel/collect',array('id'=>$travelcontent['id']))}">
			                           <img src="__PUBLIC__/Home/images/sh.png" style="width: 13px;" >
			                           <strong style="margin-left: -8px;">收藏</strong></a>
			                            <else/>
			                           <img src="__PUBLIC__/Home/images/ysh.png" style="width: 13px;" >
			                           <strong style="margin-left:-12px;">已收藏</strong>
			                          
			                          </if> 
			                         </if>
			                         </span>
			                         <span style="margin-left: -80px;">
			                           
			                          <!--  <img src="__PUBLIC__/Home/images/huil.png" style="width: 13px; " >
			                           <strong style="margin-left: -6px;">私信</strong> -->
<if condition="$Think.session.uname eq null">
    <img src="__PUBLIC__/Home/images/huil.png" style="width: 13px;margin-left: 32px " onclick="judge()" >
	<strong style="margin-left:27px;" onclick="judge()">私信</strong>
<else/>
 <div id="wrapper">
	<div class="box">
		<div class="demo">
			
			<a href="javascript:;" class="rollIn" >
				<img src="__PUBLIC__/Home/images/huil.png" style="width: 13px; " >
			     <strong style="margin-left: 4px;">私信</strong>
			</a>
			
		</div>
		
		<div id="dialogBg"></div>
		
		
		  <div id="dialog" class="animated" style="height: 198px;">
			<div class="dialogTop">
			    <a href="#" style="font-size: 20px; margin-right: 180px;">@{$travelcontent.uname}</a>
				<a href="javascript:;" class="claseDialogBtn">关闭</a>
			</div>
			<form action="{:U('Home/User/send_letter')}" method="post" id="editForm" enctype="multipart/form-data">
				<ul class="editInfos">
					<input type="hidden" name="ag_uid" value="{$travelcontent.uid}" >
					<li><textarea name="pcontent" placeholder="悄悄话。。。" style="width: 250px; height: 80px;margin-left: 3px;margin-top: -5px" required=""></textarea></li>
					                
					<li><input type="submit" value="发送" class="submitBtn" style="margin-top: -10px;margin-right: -160px" /></li>
				</ul>
			</form>
		</div>
	


	</div>
	
</div>
</if>







			                         </span>
			                         <span style="margin-left: -10px;"> 
			                           
			                           <img src="__PUBLIC__/Home/images/fxx.png" style="width: 12px;height: 12px; " >
			                           <strong style="margin-left: -6px;">分享</strong>
			                         </span>				      
                                    </div>
                                    <div class="clearfix"> </div>




			  
<!-- 
						<div class="response">
					<h4 style="font-family: miaomi">你想说点啥~</h4>
					<div class="media response-info">
						<div class="media-left response-text-left">
							<a href="#">
								<img src="__PUBLIC__/Home/images/sin1.jpg" class="img-responsive" alt="">
							</a>
						</div>
						<div class="media-body response-text-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<ul>
								<li>Jun 21, 2016</li>
								<li><a href="#">Reply</a></li>
							</ul>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img src="__PUBLIC__/Home/images/sin2.jpg" class="img-responsive" alt="">
									</a>
								</div>
								<div class="media-body response-text-right">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<ul>
										<li>July 17, 2016</li>
										<li><a href="#">Reply</a></li>
									</ul>		
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="media response-info">
						<div class="media-left response-text-left">
							<a href="#">
								<img src="__PUBLIC__/Home/images/sin1.jpg" class="img-responsive" alt="">
							</a>
						</div>
						<div class="media-body response-text-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<ul>
								<li>Jul 22, 2016</li>
								<li><a href="#">Reply</a></li>
							</ul>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img src="__PUBLIC__/Home/images/sin2.jpg" class="img-responsive" alt="">
									</a>
								</div>
								<div class="media-body response-text-right">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<ul>
										<li>Aug 01, 2016</li>
										<li><a href="#">Reply</a></li>
									</ul>		
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>	
				<div class="coment-form">
					<h4 style="font-family: miaomi">留下你的足迹~</h4>
					<form action="#" method="post">
						
						<textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="" style="font-family: miaomi">回复当前帖</textarea>
						<input type="submit" value="回复" style="font-family: miaomi">
					</form>
				</div>	-->
				<div class="clearfix"></div>
			</div> 
		</div>
		<!-- technology-right -->
		<div class="col-md-3 technology-right">
				
				
				<div class="blo-top1">
							
					<div class="tech-btm">
					<div class="search-1">
							<form action="#" method="post">
								<input type="search" name="Search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
								<input type="submit" value=" ">
							</form>
						</div>
					
						<h4 style="font-family: miaomi">最新发布结伴</h4>
                     <volist name="fresh" id="vo">	 
					    <div class="blog-grids">
							<div class="blog-grid-left">
								<a href="{:U('Travel/detail',array('id'=>$vo['id']))}"><img src="__PUBLIC__/Home/uploads/travelphoto/{$vo.pic}" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								<input type="hidden" value="{$vo.id}<"></input>
								<h5 style="font-family: miaomi ;margin-top:10px;"><a href="{:U('Travel/detail',array('id'=>$vo['id']))}">{$vo.titles}</a> </h5>
								<img src="__PUBLIC__/Home/images/red_eye.png" style="width: 18px;margin-top: -3px;"><span style="font-size: 15px;">{$vo.hits}</span>
							</div>
							<div class="clearfix"> </div>
						</div>
					 </volist>
					<!-- 	<div class="insta">
					<h4>Instagram</h4>
						<ul>
							
							<li><a href="singlepage.html"><img src="__PUBLIC__/Home/images/t1.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlepage.html"><img src="__PUBLIC__/Home/images/m1.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlepage.html"><img src="__PUBLIC__/Home/images/f1.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlepage.html"><img src="__PUBLIC__/Home/images/m2.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlepage.html"><img src="__PUBLIC__/Home/images/f2.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlepage.html"><img src="__PUBLIC__/Home/images/t2.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlepage.html"><img src="__PUBLIC__/Home/images/f3.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlepage.html"><img src="__PUBLIC__/Home/images/t3.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlepage.html"><img src="__PUBLIC__/Home/images/m3.jpg" class="img-responsive" alt=""></a></li>
						</ul>
					</div>
					
					<p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro</p> -->
					</div>
					
					
					
				</div>
				
			
		</div>
		<div class="clearfix"></div>
		<!-- technology-right -->
	</div>
</div>

	<include file="./Application/Public/footer.html" />
</body>
</html>