<!DOCTYPE HTML>
<html>
<head>
<title>Travelist</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

<include file="./Application/Public/head.html" />

<script type="text/javascript">
	var w,h,className;
function getSrceenWH(){
	w = $(window).width();
	h = $(window).height();
	$('#dialogBg').width(w).height(h);
}

window.onresize = function(){  
	getSrceenWH();
}  
$(window).resize();  

$(function(){
	getSrceenWH();
	
	//ÏÔÊ¾µ¯¿ò
	$('.box a').click(function(){
		className = $(this).attr('class');
		$('#dialogBg').fadeIn(300);
		$('#dialog').removeAttr('class').addClass('animated '+className+'').fadeIn();
	});
	
	//¹Ø±Õµ¯´°
	$('.claseDialogBtn').click(function(){
		$('#dialogBg').fadeOut(300,function(){
			$('#dialog').addClass('bounceOutUp').fadeOut();
		});
	});
});
</script>
<style type="text/css">
body{
	background: #f7f7f7;
}
#dialog{
	margin-top: -250px;
	height: 520px;
}
</style>
</head>
<body>
<div class="header" id="ban">

		<include file="./Application/Public/nav.html" />


</div>

	<!-- technology-left -->
	<div class="technology">
	<div class="container">
		<div class="col-md-9 technology-left" style="margin-bottom: 30px;">
			<div class="blog">
		
			<h2 class="w3" style="font-family: miaomi">{$themetype.tname}</h2>


			


<div id="wrapper">
	<div class="box">
		<div class="demo">
			<div class="key">	
			<a href="javascript:;" class="flipInX">发布结伴</a>
			</div>
		</div>
		
		<div id="dialogBg"></div>

		<if condition="$Think.session.telephone eq null">
		  <div id="dialog" class="animated" style="height: 220px;margin-top:-113px;">
			<div class="dialogTop">
			    <a href="#" style="font-size: 20px; margin-right: 180px;">登录</a>
				<a href="javascript:;" class="claseDialogBtn">关闭</a>
			</div>
			<form action="{:U('Home/Travel/dologin')}" method="post" id="editForm" enctype="multipart/form-data">
				<ul class="editInfos">
					<li><input type="text" name="telephone" value="" class="ipt" style="width: 200px;" placeholder="输入电话号码登录" required  /></li>
					<li><input type="password" name="password" value="" class="ipt" style="width: 200px;" placeholder="输入密码" required  /></li>
					                
					<li><input type="submit" value="登录" class="submitBtn" style="width: 200px;"/></li>
				</ul>
			</form>
		</div>
	<else/>
		<div id="dialog" class="animated">
			
			<div class="dialogTop">
			    <a href="#" style="font-size: 20px; margin-right: 20px;">快来吸引你的小伙伴</a>
				<a href="javascript:;" class="claseDialogBtn">关闭</a>
			</div>
			<form action="{:U('Travel/doTravel')}" method="post" id="editForm" enctype="multipart/form-data">
				<ul class="editInfos">
					<li><input type="text" name="titles" value="" class="ipt" style="width: 250px;" placeholder="结伴标题" required  /></li>
					<li><input type="text" name="site" value="" class="ipt" style="width: 250px;" placeholder="结伴目的地" required  /></li>
					<li><select name="themetype_tid" class="ipt"  style="width: 250px;" >
                    <option value="0">结伴主题</option>
                    <option value="1">一起浪</option>
                    <option value="2">粗去吃</option>
                    <option value="3">约你看电影</option>  
                    <option value="4">图书馆不见不散</option>
                    <option value="5">购物</option>                   
                    </select></li>
                    <li><input type="date" name="pretime" value="" class="ipt" style="width: 250px; height: 30px;" title="出发时间" required  /></li>
                    <li><input type="date" name="endtime" value="" class="ipt" style="width: 250px; height: 30px;" title="结束时间" required  /></li>
                    <li><input type="text" name="tele" value="" class="ipt" style="width: 250px;" placeholder="联系方式" required  /></li>
                    <li style="margin-left: 22px" class="file">        
                    <input type="file" name="pic" value="" class="ipt" style="width: 250px;" title="结伴封面图片" required  /></li>
                    <li><textarea name="detail" placeholder="结伴详情" style="width: 250px; height: 100px;margin-left: 3px"></textarea></li>
					<li><input type="submit" value="发布" class="submitBtn" /></li>
				</ul>
			</form>
		</div></if>
	</div>
</div>







			<div class="clearfix"> </div>
		

				<div class="blog-grids1">
             <volist name="travel" id="vo">
				<div class="col-md-6 blog-grid" style="margin-bottom: 50px;">
					<div class="blog-grid-left1"> 
						<a href="{:U('Travel/detail',array('id'=>$vo['id']))}"><img src="__PUBLIC__/Home/uploads/travelphoto/{$vo.pic}" alt=" " class="img-responsive" style="width: 375px; height: 236px"></a>
						<input type="hidden" value="{$vo.id}">
					</div> 
					<div class="blog-grid-right1" >
						<a href="{:U('Travel/detail',array('id'=>$vo['id']))}">{$vo.titles}</a>
						<strong style="color: #000">结伴日期：{$vo.pretime}~{$vo.endtime}</strong>
						<div class="boxed_mini_details clearfix">
			                         <span class="area first">
			                           <!-- <strong style="margin-left: 4px;">发布人</strong> -->
			                           <img src="__PUBLIC__/Home/images/user.png" style="width: 13px;margin-left: 3px;" >
			                           <i class="fa fa-plane icon1"></i>{$vo.uname}
			                         </span>
			                         <span class="area first">
			                           <!-- <strong>浏览量</strong> -->
			                           <img src="__PUBLIC__/Home/images/eye.png" style="width: 13px;margin-left: 3px;" >
			                           <i class="fa fa-plane icon1"></i>{$vo.hits}
			                         </span>
			                         <span class="area first">
			                           <!-- <strong>想一起</strong> -->
			                           <img src="__PUBLIC__/Home/images/zan.png" style="width: 13px; margin-left: 9px;" >
			                           <i class="fa fa-plane icon1"></i>{$vo.want}
			                         </span>			      
                                    </div>
					</div>
					<div class="clearfix"> </div>
					
				</div>
				</volist>


				
				<div class="clearfix"> </div>
			</div>


           <div class="paging">{$link}</div>
			
			




			<!-- <nav class="paging">
				<ul class="pagination pagination-lg">
					<li><a href="#" aria-label="Previous"><span aria-hidden="true"><<</span></a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" aria-label="Next"><span aria-hidden="true">>></span></a></li>
				</ul>
			</nav> -->
		
	</div>
		</div>
		<!-- technology-right -->
		<div class="col-md-3 technology-right">
				
				
				<div class="blo-top1">
							
					<div class="tech-btm">
					
					<h4 style="font-family: miaomi">结伴主题</h4>
						<div class="blog-grids" style="margin-top: -13px;">							
							<div class="blog-grid-right">
							<volist name="theme" id="vo">						
								<h5 style="font-family: miaomi;margin-bottom: 5px; font-size: 16px;"><a href="{:U('Travel/travel',array('theme_tid'=>$vo['tid']))}">{$vo.tname}</a> </h5>
								</volist>
							</div>
							<div class="clearfix"> </div>
						</div>
						
						
						<div class="insta">
					
						<h4 style="font-family: miaomi">最新发布结伴</h4>
                     <volist name="fresh" id="vo">	 
					    <div class="blog-grids">
							<div class="blog-grid-left">
								<a href="{:U('Travel/detail',array('id'=>$vo['id']))}"><img src="__PUBLIC__/Home/uploads/travelphoto/{$vo.pic}" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								<input type="hidden" value="{$vo.id}<"></input>
								<h5 style="font-family: miaomi ;margin-top:10px;"><a href="{:U('Travel/detail',array('id'=>$vo['id']))}">{$vo.titles}</a> </h5>
								<img src="__PUBLIC__/Home/images/red_eye.png" style="width: 18px;margin-top: -3px;"><span style="font-size: 15px;">{$vo.hits}</span>
							</div>
							<div class="clearfix"> </div>
						</div>
					 </volist>


					</div>
	
					</div>
					
					
					
				</div>
				
			
		</div>
		<div class="clearfix"></div>
		<!-- technology-right -->
	</div>
</div>

               <div class="contact-grid" style="width: 350px;">
							
							<form action="#" method="post">
								<input type="text" name="Name" value="Name " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
								<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
								<input type="text" name="Phone" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" required="">
								<textarea type="text" name="textarea" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Special Instruction/Comments...';}" required="">Special Instruction/Comments...</textarea>
								<input type="submit" value="Send">
							</form>
						</div>



	<include file="./Application/Public/footer.html" />

</body>
</html>




